In [78]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.rcParams.update({'figure.figsize':(15,6)})
plt.rcParams.update({'font.size':18})

In [79]:
df = pd.read_csv('dataset/customer_segmentation_traindata.csv')
df.head(3)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8068 entries, 0 to 8067
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               8068 non-null   int64
 1   Gender           8068 non-null   object
 2   Ever_Married     7928 non-null   object
 3   Age              8068 non-null   int64
 4   Graduated        7990 non-null   object
 5   Profession       7944 non-null   object
 6   Work_Experience  7239 non-null   float64
 7   Spending_Score   8068 non-null   object
 8   Family_Size      7733 non-null   float64
 9   Var_1            7992 non-null   object
 10  Segmentation     8068 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 693.5+ KB

In [81]:
## Checking the Ever_Married column for missing values
def married_checker(df):
    if df.Ever_Married != 'Yes' and df.Ever_Married != 'No':
        if df.Age <= 22 or df.Family_Size == 1:
            return 'No'
        else:
            return np.nan
    else:
        if df.Ever_Married == 'Yes':
            return 'Yes'
        else:
            return 'No'


df.Ever_Married = df.apply(lambda x: married_checker(x), axis=1)
df.info()
# temp = df[df.Ever_Married.isnull()]
# edit = temp[(temp.Age <= 22)|(temp.Family_Size == 1)]
# edit['Ever_Married'] = 'No'
# edit

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8068 entries, 0 to 8067
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               8068 non-null   int64
 1   Gender           8068 non-null   object
 2   Ever_Married     7976 non-null   object
 3   Age              8068 non-null   int64
 4   Graduated        7990 non-null   object
 5   Profession       7944 non-null   object
 6   Work_Experience  7239 non-null   float64
 7   Spending_Score   8068 non-null   object
 8   Family_Size      7733 non-null   float64
 9   Var_1            7992 non-null   object
 10  Segmentation     8068 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 693.5+ KB

In [84]:
## categorize null Profession as "unknown"
l = ['Healthcare', 'Engineer', 'Lawyer', 'Entertainment', 'Artist',
       'Executive', 'Doctor', 'Homemaker', 'Marketing']
df.Profession = df.Profession.apply(lambda x: 'unknown' if x not in l else x)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8068 entries, 0 to 8067
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               8068 non-null   int64
 1   Gender           8068 non-null   object
 2   Ever_Married     7976 non-null   object
 3   Age              8068 non-null   int64
 4   Graduated        7990 non-null   object
 5   Profession       8068 non-null   object
 6   Work_Experience  7239 non-null   float64
 7   Spending_Score   8068 non-null   object
 8   Family_Size      7733 non-null   float64
 9   Var_1            7992 non-null   object
 10  Segmentation     8068 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 693.5+ KB

In [82]:
temp = df[df.Ever_Married.isnull()]
temp

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
24,461021,Female,NaN,58,No,Executive,1.0,Average,3.0,Cat_3,B
311,461989,Female,NaN,57,Yes,Engineer,0.0,Average,4.0,Cat_2,C
508,464645,Male,NaN,52,Yes,Artist,1.0,Average,5.0,Cat_4,C
701,466370,Female,NaN,48,Yes,Artist,0.0,Low,4.0,Cat_2,C
736,459062,Male,NaN,48,Yes,Executive,NaN,High,5.0,Cat_6,B
...,...,...,...,...,...,...,...,...,...,...,...
7582,459771,Female,NaN,30,Yes,Doctor,0.0,Low,3.0,Cat_3,A
7588,460504,Male,NaN,43,No,Executive,NaN,Average,3.0,Cat_3,A
7615,463288,Female,NaN,59,Yes,Artist,9.0,Average,2.0,Cat_6,C
8030,459082,Male,NaN,45,Yes,Artist,1.0,Low,NaN,Cat_6,A
8044,466997,Female,NaN,50,No,Engineer,1.0,Low,2.0,Cat_6,D