In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.rcParams.update({'figure.figsize':(15,6)})
plt.rcParams.update({'font.size':18})

In [2]:
df = pd.read_csv('feature_engineered_data.csv')
df.head(3)

,Gender_Male,Ever_Married_Yes,Graduated_Yes,Profession_Doctor,Profession_Engineer,Profession_Entertainment,Profession_Executive,Profession_Healthcare,Profession_Homemaker,Profession_Lawyer,...,Profession_unknown_Spending_Score_High,Profession_unknown_Spending_Score_Low,Work_Experience_Entry_Spending_Score_High,Work_Experience_Entry_Spending_Score_Low,Work_Experience_High_Spending_Score_High,Work_Experience_High_Spending_Score_Low,Work_Experience_Intermediate_Spending_Score_High,Work_Experience_Intermediate_Spending_Score_Low,Work_Experience_unknown_Spending_Score_High,Work_Experience_unknown_Spending_Score_Low
0,1,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,1,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0